@theme inline {
  --white: 1 0 0;
  --black: 0 0 0;

  /* Neutral */
  --neutral-50: 0.97 0.004 180;
  --neutral-100: 0.95 0.005 180;
  --neutral-200: 0.92 0.01 180;
  --neutral-300: 0.86 0.015 180;
  --neutral-400: 0.78 0.018 180;
  --neutral-500: 0.64 0.022 180;
  --neutral-600: 0.53 0.024 180;
  --neutral-700: 0.43 0.021 180;
  --neutral-800: 0.35 0.021 180;
  --neutral-900: 0.25 0.021 180;
  --neutral-950: 0.15 0.01 180;

  /* Brand */
  --brand-50: 0.99 0.02 192;
  --brand-100: 0.97 0.036 191.943;
  --brand-200: 0.92 0.07 191.801;
  --brand-300: 0.86 0.1 191.631;
  --brand-400: 0.798 0.15 191.455;
  --brand-500: 0.735 0.14 191.276;
  --brand-600: 0.659 0.13 191.06;
  --brand-700: 0.496 0.13 190.597;
  --brand-800: 0.406 0.115 190.341;
  --brand-900: 0.323 0.095 190.105;
  --brand-950: 0.286 0.06 190;

  /* Danger */
  --danger-50: 0.962 0.018 28;
  --danger-100: 0.93 0.034 27.637;
  --danger-200: 0.87 0.065 26.956;
  --danger-300: 0.785 0.115 25.991;
  --danger-400: 0.673 0.182 24.721;
  --danger-500: 0.585 0.233 23.722;
  --danger-600: 0.511 0.262 22.882;
  --danger-700: 0.457 0.24 22.27;
  --danger-800: 0.398 0.195 21.6;
  --danger-900: 0.359 0.144 21.157;
  --danger-950: 0.257 0.09 20;

  /* Warning */
  --warning-50: 0.987 0.026 71;
  --warning-100: 0.973 0.071 71.379;
  --warning-200: 0.95 0.12 72.003;
  --warning-300: 0.9 0.16 73.223;
  --warning-400: 0.84 0.185 74.659;
  --warning-500: 0.78 0.185 76.204;
  --warning-600: 0.67 0.165 79.294;
  --warning-700: 0.554 0.14 82.736;
  --warning-800: 0.476 0.13 84.85;
  --warning-900: 0.421 0.1 86.341;
  --warning-950: 0.286 0.066 90;

  /* Success */
  --success-50: 0.962 0.018 145;
  --success-100: 0.93 0.034 145.454;
  --success-200: 0.87 0.065 146.305;
  --success-300: 0.785 0.115 147.511;
  --success-400: 0.673 0.182 149.099;
  --success-500: 0.585 0.233 150.348;
  --success-600: 0.511 0.262 151.397;
  --success-700: 0.457 0.24 152.163;
  --success-800: 0.398 0.195 153;
  --success-900: 0.359 0.144 153.553;
  --success-950: 0.257 0.09 155;

  /* Info */
  --info-50: 0.962 0.018 232;
  --info-100: 0.93 0.034 232.454;
  --info-200: 0.87 0.065 233.305;
  --info-300: 0.785 0.115 234.511;
  --info-400: 0.673 0.182 236.099;
  --info-500: 0.585 0.233 237.348;
  --info-600: 0.511 0.262 238.397;
  --info-700: 0.457 0.24 239.163;
  --info-800: 0.398 0.195 240;
  --info-900: 0.359 0.144 240.553;
  --info-950: 0.257 0.09 242;

  /* Transparência */
  --opacity-100: 1;
  --opacity-95: 0.95;
  --opacity-90: 0.9;
  --opacity-80: 0.8;
  --opacity-70: 0.7;
  --opacity-60: 0.6;
  --opacity-50: 0.5;
  --opacity-40: 0.4;
  --opacity-30: 0.3;
  --opacity-20: 0.2;
  --opacity-10: 0.1;

  /* Shadows */
  --shadow-key-weak: oklch(var(--black) / 0.04);
  --shadow-ambient-weak: oklch(var(--black) / 0.08);
  --shadow-key: oklch(var(--black) / 0.16);
  --shadow-ambient: oklch(var(--black) / 0.22);

  --shadow-strong-hover: 0px 4px 6px 0px var(--shadow-key),
    0px 0px 1px 0px var(--shadow-ambient);
  --shadow-weak-hover: 0px 2px 4px 0px var(--shadow-key-weak),
    0px 0px 1px 0px var(--shadow-ambient-weak);

  /* Transitions */
  --transition-fastest: 0.08s ease-in-out;
  --transition-fast: 0.12s ease-in-out;
  --transition-medium: 0.2s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Typography */

  --fluid-min-width: 360;
  --fluid-max-width: 1400;
  --fluid-screen: 100vw;
  --type-scale: 1.2;
  --type-base-size: 16;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );

  /* Families */
  --font-sans: "Nunito Sans", system-ui, -apple-system, sans-serif;
  --font-monos: "JetBrains Mono Variable", "SF Mono", Consolas, monospace;

  /* Sizes */
  --font-size-xs: clamp(0.75rem, 0.75rem + var(--fluid-bp) * 0.125, 0.8125rem);
  --font-size-sm: clamp(
    0.875rem,
    0.875rem + var(--fluid-bp) * 0.125,
    0.9375rem
  );
  --font-size-base: clamp(1rem, 1rem + var(--fluid-bp) * 0.125, 1.0625rem);
  --font-size-lg: clamp(1.125rem, 1.125rem + var(--fluid-bp) * 0.25, 1.25rem);
  --font-size-xl: clamp(1.25rem, 1.25rem + var(--fluid-bp) * 0.375, 1.4375rem);
  --font-size-2xl: clamp(1.5rem, 1.5rem + var(--fluid-bp) * 0.5, 1.75rem);
  --font-size-3xl: clamp(
    1.875rem,
    1.875rem + var(--fluid-bp) * 0.625,
    2.1875rem
  );
  --font-size-4xl: clamp(2.25rem, 2.25rem + var(--fluid-bp) * 0.75, 2.625rem);
  --font-size-5xl: clamp(3rem, 3rem + var(--fluid-bp) * 1, 3.75rem);

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Line Height */
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;

  /* Letter Spacing */
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;

  /* Font width */
  --font-width-condensed: 75;
  --font-width-normal: 100;
  --font-width-expanded: 125;
}
