@layer utilities {
  /* Surface */
  .surface-low {
    background-color: oklch(var(--neutral-100));
  }
  .surface-medium {
    background-color: oklch(var(--neutral-50));
  }
  .surface-high {
    background-color: oklch(var(--white));
  }
  .surface-disabled {
    background-color: oklch(var(--neutral-300) / var(--opacity-60));
  }
  .surface-inverted {
    background-color: oklch(var(--neutral-900));
  }

  /* Accent */
  .surface-accent {
    background-color: oklch(var(--brand-700));
  }
  .surface-accent-danger {
    background-color: oklch(var(--danger-700));
  }
  .surface-accent-warning {
    background-color: oklch(var(--warning-500));
  }
  .surface-accent-success {
    background-color: oklch(var(--success-600));
  }
  .surface-accent-info {
    background-color: oklch(var(--info-600));
  }

  /* Subtle */
  .surface-subtle {
    background-color: oklch(var(--brand-100) / var(--opacity-70));
  }
  .surface-subtle-danger {
    background-color: oklch(var(--danger-100) / var(--opacity-30));
  }
  .surface-subtle-warning {
    background-color: oklch(var(--warning-100) / var(--opacity-30));
  }
  .surface-subtle-success {
    background-color: oklch(var(--success-100) / var(--opacity-30));
  }
  .surface-subtle-info {
    background-color: oklch(var(--info-100) / var(--opacity-30));
  }
}
