@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap");
@import "tailwindcss";
@import "./styles/primitives.css";
@import "./styles/utilities-surface2.css";
@import "./styles/utilities-typography.css";
@import "./styles/utilities-border.css";
@import "./styles/data-brand.css";
@import "./styles/component.css";
@import "./styles/surface-test.css";

:root {
  color-scheme: light dark;
}

html,
body {
  background-color: var(--app-bg);
  color: var(--app-text);
}

html.light {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

html.light .inverted {
  color-scheme: dark;
}
html.dark .inverted {
  color-scheme: light;
}

.root {
  isolation: isolate;
}
